<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des notes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item class="item" *ngFor="let note of notes">
  <h3>Les notes de {{note.nom}}</h3>
</ion-item>
<ion-content class="back">
    <ion-item *ngFor="let note of notes">
     
      <ion-list class="item">   
         <ion-label>
        <h2><u><b>JEE:</b></u> {{note.jee}}</h2>

      </ion-label>
      <br>
      <ion-label>
        <h2><u><b>IONIC:</b></u> {{note.ionic}}</h2>

      </ion-label>
      <br>
      <ion-label>
        <h2><u><b>PHP:</b></u> {{note.php}}</h2>

      </ion-label>
      
    </ion-list>
    </ion-item>
 
</ion-content>
