.back{
  --background:url(../../assets/b32.png) no-repeat 100% center/cover; 
}
.item{
  --ion-item-background: transparent; 
}
.image{
  width: 50%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}