<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Liste des étudiants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-list class="item">
    <ion-item *ngFor="let et of etds">
      <ion-avatar slot="start">
        <img src="assets/ava6.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{et.prenom}} {{et.nom}}</h2>

      </ion-label>
      <ion-note slot="end">
        <ion-button color="secondary" (click)="notes(et);">Notes</ion-button>

      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
